<body>
<h1 class="mt-4">Dashboard</h1>
<div id="profile"><img id='profile-image' src= '<%= profileimage %>'   /></div>
<p class="lead mb-3">Welcome: <%= name %>  </p>
<p class="lead mb-3" id ="myEmail">Email: <%= email %>  </p>
<p class="lead mb-3">Contact: <%= contact %>  </p>
<p class="lead mb-3">Date: <%= date %>  </p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/users/changepass" class="btn btn-secondary">Change Password</a>

</Body>