<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Dashbord</title>
</head>

<body>
<h1 class="mt-4">Dashboard</h1>
<div id="profile"><img id='profile-image' src= '<%= profileimage %>'   /></div>
<h1 class="lead mb-3"><%= name %>  </h1>
<p class="lead mb-3" id ="myEmail">Email: <%= email %>  </p>
<p class="lead mb-3">Contact: <%= contact %>  </p>
<p class="lead mb-3">Date: <%= date %>  </p>
<p class="lead mt-4"><a href="/users/register">Register</a></p>
<p class="lead mt-4"><a href="/users/login">Login</a></p>

</Body>
</html>